## Types of Functions:

*   Built-in functions - print()

*   User-defined functions - def my_function(): pass

*   Lambda functions - lambda x: x + 1

*   Standard Library functions - math.sqrt()

*   Third-Party Library Functions - nump.array()

In [2]:
# the syntax is lambda arguments: expression
mul_two = lambda x: x*2

# fun fact: in other popular languages you can't assign functions to variables

In [3]:
mul_two(3)

6

In [6]:
(lambda x, y: x*2 + y)(3, 4)

10

In [10]:
salary_list = [100000, 200000, 150000, 120000, 80000, 750000]

# Calculate tota_salary of base_salary * (1 + bonus_rate)
def calculate_salary(base_salary, bonus_rate=.1):

  return base_salary * (1 + bonus_rate)

total_salary_list = [calculate_salary(salary) for salary in salary_list]

total_salary_list

[110000.00000000001,
 220000.00000000003,
 165000.0,
 132000.0,
 88000.0,
 825000.0000000001]

We can replace the code for the function to one line of code with lambda

In [12]:
salary_list = [100000, 200000, 150000, 120000, 80000, 750000]

# Calculate tota_salary of base_salary * (1 + bonus_rate)
# def calculate_salary(base_salary, bonus_rate=.1):

#   return base_salary * (1 + bonus_rate)

total_salary_list = [(lambda x: x*1.1)(salary) for salary in salary_list]

total_salary_list

[110000.00000000001,
 220000.00000000003,
 165000.0,
 132000.0,
 88000.0,
 825000.0000000001]

The easier way to do this one would be the next:

In [13]:
salary_list = [100000, 200000, 150000, 120000, 80000, 750000]

total_salary_list = [salary * 1.1 for salary in salary_list]

total_salary_list

[110000.00000000001,
 220000.00000000003,
 165000.0,
 132000.0,
 88000.0,
 825000.0000000001]

## Data Filtering Example

Find jobs that have Python and that are remote

In [14]:
jobs_data = [
    {'job_title': 'Data Scientist', 'job_skills': ['Python', 'Machine Learning'], 'remote': True},
    {'job_title': 'Data Analyst', 'job_skills': ['Excel', 'SQL'], 'remote': False},
    {'job_title': 'Machine Learning Engineer', 'job_skills': ['Python', 'TensorFlow','Keras'], 'remote': True},
    {'job_title': 'Software Developer', 'job_skills': ['Java', 'C++'], 'remote': True},
    {'job_title': 'Data Scientist', 'job_skills': ['R', 'Statistics'], 'remote': False},
]

In [17]:
list(filter(lambda job: job['remote'] and 'Python' in job['job_skills'],  jobs_data))

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'Machine Learning'],
  'remote': True},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'Keras'],
  'remote': True}]