## Create a Variable

variable_name = value

In [ ]:
salary = 100000

In [ ]:
salary

100000

In [ ]:
"salary"

'salary'

# Calculate the Following

Total Salary = (Base Salary)*(1 + Bonus Rate)

In [ ]:
base_salary = 100000
bonus_rate = .10

In [ ]:
total_salary = (base_salary)*(1 + bonus_rate)

In [ ]:
total_salary

110000.00000000001

If you try to name a variable with a space, you will get a syntax error. For example 'lukes salary' is the wrong way to name a variable.

You would need to add an underscore to replace the space between the words, otherwise, it's an error.

In [ ]:
lukes_salary = 100000

# Variables aren't only numbers

Example


*   Create variables to store the following information about a job posting:

    *   Job ID (integer)
    *   Company Name (string)
    *   Salary Rate (string, but consider how you might store this as a numerical type for calculations)
    *   Job Work From Home (boolean)

In [ ]:
company_name = "DataWiz Inc."

In [ ]:
company_name

'DataWiz Inc.'

In [ ]:
job_wfh = True

In [ ]:
job_wfh

True

In [ ]:
job_id = 101
job_title = "Data Analyst"
job_salary = 125000

In [ ]:
print("Data Job Description")
print("++++++++++++++++++++")
print("Job ID:      ", job_id)
print("Company Name:", company_name)
print("Job Title:   ", job_title)
print("Salary:      ", job_salary)
print("WFM:         ", job_wfh)

Data Job Description
++++++++++++++++++++
Job ID:       101
Company Name: DataWiz Inc.
Job Title:    Data Analyst
Salary:       125000
WFM:          True